#!/usr/bin/make -f
#
# Copyright (C) 1997 joost witteveen <joost@rulcmc.leidenuniv.nl>
# Copyright (C) 1997 Juan Cespedes <cespedes@debian.org>

build:
		./configure --prefix=/usr
		$(MAKE) CFLAGS='-O2 -g -Wall'
		touch build

binary:         binary-indep binary-arch

binary-indep:

binary-arch:    build
		@test 0 = `id -u` || { echo "Error: not super-user"; exit 1; }
		rm -rf debian/tmp
		install -d -m 755 debian/tmp/{DEBIAN,etc,usr/{bin,info,man/man1,doc/screen}}
		cp -a etc/etcscreenrc debian/tmp/etc/screenrc
		install -s -m 4755 screen debian/tmp/usr/bin/screen
		cp -a doc/screen.info* debian/tmp/usr/info
		cp -a doc/screen.1 debian/tmp/usr/man/man1/screen.1
		cp -a debian/changelog debian/tmp/usr/doc/screen/changelog.Debian
		cp -a ChangeLog debian/tmp/usr/doc/screen/changelog
		cp -a README NEWS FAQ debian/tmp/usr/doc/screen
		rm -f debian/tmp/usr/info/screen.info*.gz
		gzip -9f debian/tmp/usr/info/screen.info* debian/tmp/usr/doc/screen/*
		gzip -9f debian/tmp/usr/man/man1/*
		install -d debian/tmp/usr/doc/screen/terminfo
		cp -a terminfo/* debian/tmp/usr/doc/screen/terminfo
		cp -a debian/README.terminfo debian/tmp/usr/doc/screen/terminfo/README.Debian
		gzip -9f debian/tmp/usr/doc/screen/terminfo/*
		cp -a debian/copyright debian/tmp/usr/doc/screen/copyright
		cp -a debian/conffiles debian/tmp/DEBIAN/conffiles
		install -m 755 debian/postinst debian/tmp/DEBIAN/postinst
		install -m 755 debian/postrm debian/tmp/DEBIAN/postrm

		dpkg-shlibdeps screen
		dpkg-gencontrol
		chown -R root.root debian/tmp
		chmod -R go=rX debian/tmp
		dpkg --build debian/tmp ..

clean:
		rm -f build debian/files debian/substvars
		-$(MAKE) realclean
		rm -f kmapdef.c
		rm -f osdef[012]*
		rm -rf debian/tmp

.PHONY: binary binary-arch binary-indep clean
