#!/usr/bin/make -f
#   -*- mode: makefile; -*-
#
# Last updated: Sat Dec 17 10:52:20 EST 1994 by imurdock.
#
# To make the binary distribution package, the ``Debianized'' source package
# and the context diff to the original package, type `./debian.rules dist'.
# Make sure that `debian.rules' is executable before the final distribution
# is made.
#
# Invoke each target with `./debian.rules <target>'.  All targets should be
# invoked with the package root as the current directory.
#
# The `binary' target must be run as root, as it needs to install files with
# specific ownerships.  The `diff' target assumes that you have the original
# source package available, unpacked, in ../$(p)-$(v).orig, or that you have
# the previous revision of the ``Debianized'' source package and context diff
# in the parent directory.

CC = gcc
CFLAGS = -O2
LDFLAGS = -s

# The name of the package (for example, `emacs').
p = screen
# # The version of the package (for example, `19.28').
v = 3.7.2
# # The Debian revision of the package (for example, `2').
# d = 8
# # The target architecture.
# a = $(shell dpkg --print-architecture)
# package=$(p)
# version=$(v)
# debian=$(d)
# arch=$(a)

build:
# Builds the binary package.
	./configure --prefix=/usr
	make CC="$(CC)" CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)"
	touch build

clean:
# Undoes the effect of `debian/rules build'.
	-$(MAKE) distclean
	rm -f comm.h config.h kmapdef.c term.h tty.c
	rm -f build
	rm -rf debian/tmp
	rm -f Makefile.rej*

binary-indep:   checkroot build
        $(checkdir)
# There are no architecture-independent files to be uploaded
# generated by this package.  If there were any they would be
# made here.

binary-arch:    checkroot build
# Makes a binary package.
	rm -rf debian/tmp
	install -d -g root -m 755 -o root debian/tmp
	chmod g-s debian/tmp
	install -d -g root -m 755 -o root debian/tmp/DEBIAN
	install -d -g root -m 755 -o root debian/tmp/etc
	install -d -g root -m 755 -o root debian/tmp/usr/bin
	install -d -g root -m 755 -o root debian/tmp/usr/info
	install -d -g root -m 755 -o root debian/tmp/usr/man/man1
	install -d -g root -m 755 -o root debian/tmp/usr/doc/$(p)
	install -g root -m 644 -o root etc/etcscreenrc \
	  debian/tmp/etc/screenrc
	install -g root -m 4755 -o root screen \
	  debian/tmp/usr/bin/screen-$(v)
	( cd debian/tmp/usr/bin ; ln -fs screen-$(v) screen )
	install -g root -m 644 -o root doc/screen.info* \
	  debian/tmp/usr/info
	install -g root -m 644 -o root doc/screen.1 \
	  debian/tmp/usr/man/man1/screen.1
	install -g root -m 644 -o root terminfo/* \
	  debian/tmp/usr/doc/screen
	install -g root -m 644 -o root debian/copyright \
	  debian/tmp/usr/doc/$(p)/copyright
	install -g root -m 644 -o root debian/changelog \
	  debian/tmp/usr/doc/$(p)/changelog.Debian
	rm -f debian/tmp/usr/info/$(p).info*.gz
	gzip -9f debian/tmp/usr/info/$(p).info* \
		 debian/tmp/usr/doc/$(p)/*
	gunzip debian/tmp/usr/doc/$(p)//screeninfo.src
	install -g root -m 755 -o root debian/conffiles \
	  debian/tmp/DEBIAN/conffiles
	install -g root -m 755 -o root debian/postinst \
	  debian/tmp/DEBIAN/postinst
	install -g root -m 755 -o root debian/postrm \
	  debian/tmp/DEBIAN/postrm
	dpkg-shlibdeps screen
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	dpkg --build debian/tmp ..


define checkdir
	test -f $(p).c -a -f debian/rules
endef

# Below here is fairly generic really

binary:         binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
