#!/usr/bin/make -f
#
# Copyright (C) 1997 joost witteveen <joost@rulcmc.leidenuniv.nl>
# Copyright (C) 1997-2001 Juan Cespedes <cespedes@debian.org>
# Copyright (C) 2001 Adam Lazur <zal@debian.org>

# Uncomment me to turn on debugging
#export DH_VERBOSE=1

# the debhelper compatability version
export DH_COMPAT=3

package = screen

ROOT = $$PWD/debian/$(package)

# statically define this... sucko
TTYGROUP = 5

configure-stamp:
	dh_testdir
	./configure --prefix=/usr \
		    --infodir='$$(prefix)/share/info' \
		    --mandir='$$(prefix)/share/man' \
		    --with-socket-dir=/var/run/screen \
		    --enable-pam \
		    --enable-rxvt_osc \
		    --with-sys-screenrc=/etc/screenrc
#		    --enable-colors256
	touch $@

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE) CFLAGS='-O2 -g -Wall -DUSE_PAM -DPTYMODE=0620 -DPTYGROUP=$(TTYGROUP)'
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp
	# clean up after the build process
	-$(MAKE) clean
	rm -rf config.status
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) prefix=$(ROOT)/usr SCREENENCODINGS='$$(prefix)/share/screen/utf8encodings' install
	# install the debian screenrc to etc
	install -m 644 debian/screenrc $(ROOT)/etc
	# hack around the fact that the install target makes screen a symlink
	# to screen-$(VERSION)
	rm -f $(ROOT)/usr/bin/screen
	mv -f $(ROOT)/usr/bin/screen* $(ROOT)/usr/bin/screen
	# make it setgid utmp
	chmod 2755 $(ROOT)/usr/bin/screen
	chown root:utmp $(ROOT)/usr/bin/screen
	chmod 775 $(ROOT)/var/run/screen
	chown root:utmp $(ROOT)/var/run/screen
	# lintian overrides for the setgid bin etc
	install -m 755 -d $(ROOT)/usr/share/lintian/overrides
	install -m 644 debian/screen.lintian.overrides $(ROOT)/usr/share/lintian/overrides/screen
	# cheat a little here and copy the README.terminfo into the terminfo
	# dir for dh_installdocs to pick up later
	install -m 644 debian/README.terminfo terminfo

binary: binary-arch

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installpam
	dh_installman || true
	dh_installinfo
	dh_installchangelogs -k patchlevel.h
	dh_strip
	dh_compress
	dh_fixperms -X/usr/bin/screen -X/var/run/screen
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install
